<!DOCTYPE html>
<html>
<head>
    <title>Docugami KG-RAG Project</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
</head>
<body style="margin:0px;padding:0px;overflow:hidden">
    <div style="height:30px;background-color:#4BBF44;color:white;width:100%;position:absolute;top:0;left:0;right:0;line-height:30px;text-align:left;padding-left:30px;font-weight:600px;font-family:'Montserrat', sans-serif;">
        Powered by Docugami
    </div>
    <iframe src="http://0.0.0.0:8000/docugami-kg-rag/playground" frameborder="0" style="overflow:hidden;overflow-x:hidden;overflow-y:hidden;height:calc(100% - 30px);width:100%;position:absolute;top:30px;left:0px;right:0px;"></iframe>
</body>


</html>